$america: #C5CAE9;
$europe: #F0F4C3;
$asia: #BCAAA4;

$fr: #26C6DA;
$de: #E91E63;
$uk: #FFEE58;
$dk: #4CAF50;

/* height, color */
$americaVals: 100px, $america;
$europeVals: 200px, $europe;
$asiaVals: 150px, $asia;

/* width and height of the bar chart */
$barChart1Size: 300px;
$barChart2Size: 500px;